body{
    /* background-color:#00161D; */
    overflow:hidden;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
  }
  
  .cons{
     background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
    background: black;
    background-size: 100% 0.3rem;

  }
  
  #btnReset{
    position: absolute;
      right: 1%;
      top: 3%;
      border: 1px solid black;
      background-color: rgba(0, 243, 255, 0.18);
      width: 8em;
      height: 3em;
      color: rgba(255, 255, 255, 0.63);
  }
  
  #btnReset:hover{
      background-color: rgba(0, 243, 255, 0.3);
  }
  
  .btnRESET{
      background-color: rgb(255, 255, 255);
      height: 1.9rem;
      width: 6rem;
      text-align: center;
      font-size: 1.2rem;
  }