body {
    padding-top: 0px;
    background-color: #eee;
  }
  .Faq_section{
      position: relative;
      height: 1000px;
      top: 9rem ;
  }

 
  
 
  .faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .faq-nav .nav-link {
    position: relative;
    display: block;
    margin: 0;
    padding: 13px 16px;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    color: #616161;
    transition: background-color 0.2s ease;
  }
  .faq-nav .nav-link:hover {
    background-color: #f6f6f6;
  }
  .faq-nav .nav-link.active {
    background: linear-gradient(252.43deg, #134491 9.89%, #1A73CB 96.03%);

    font-weight: 500;
    color: white;
  }
  .faq-nav .nav-link:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 0;
  }
  .faq-nav .nav-link i.mdi {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
  }
  
  .tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }
  .tab-content .card {
    border-radius: 0;
  }
  .tab-content .card-header {
    padding: 15px 16px;
    border-radius: 0;
    background-color: #f6f6f6;
  }
  .tab-content .card-header h5 {
    margin: 0;
  }
  .tab-content .card-header h5 button {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
    white-space: normal;
  }
  .tab-content .card-header h5 button:hover, .tab-content .card-header h5 button:focus, .tab-content .card-header h5 button:active, .tab-content .card-header h5 button:hover:active {
    text-decoration: none;
  }
  .tab-content .card-body p {
    color: #616161;
  }
  .tab-content .card-body p:last-of-type {
    margin: 0;
  }
  
  .accordion > .card:not(:first-child) {
    border-top: 0;
  }
  
  .collapse.show .card-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
.tab-content, .graph-content {
    display: block;
  }
  a{
      text-decoration: none;
      font-family: poppins;
  }
  p{

    font-family: poppins;
}
.btn-link{
  font-family: poppins;
  /* color: red; */
}
.btn{
  font-weight: 100;
  /* color: red; */
}

.faq_img{
  position: absolute;
  height: 11rem;
  left: auto;
  top: 6.5rem;
  right: 0px;
  z-index: 1;
}




/* //Media */
@media (max-width: 1440px) {
  .faq_img{
    position: absolute;
    height: 8rem;
    left: auto;
    top: 7rem;
    right: 10px;
    z-index: 1;
  }
  
 
  }
@media (max-width: 990px) {
  
  .faq_img{
   
    height: 8rem;
  
    top: 11rem;
    right: 10px;
  }
  }

  @media (max-width: 834px) {
    .faq_img{
   
      height: 8rem;
    
      top: 12rem;
      right: 10px;
    }
    
    
    }
    
  @media (max-width: 768px) {
    .faq_img{
   
    opacity: 0;
    }
    
    
    }

    .header_career{
      color:  #616161;
      width: 20rem;
      text-decoration: none;
      font-weight: 600;
      /* font-size: 1.4rem; */
      text-align: ;
    }
    .btn.btn-primary1 {
      background: #F0B50F!important;
      border-color:#F0B50F !important;
      color: #fff;border-radius: 5px;
      font-size: 1.1rem;
    font-family: poppins;
    }
    .btn.btn-primary2 {
      position: relative;
      top: .4rem;
      background: #F0B50F!important;
      border-color:#F0B50F !important;
      color: #fff;border-radius: 5px;
      font-size: .8rem;
      font-weight: 500;
    font-family: poppins;
    height: 2rem;
    width: 8rem;
    }