/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
 overflow: hidden;
}
.far1{

    position: absolute;
        margin: 0px 42rem;
        color: white;
}
.efar3{

top: -.1rem;
   left: 1rem;
}
.tamawal_Type{
    position: relative;
    margin: .4rem -8rem;
}
.btnLogin{
  /* login */
  /* login */
  position: relative;
  border: 1px solid  #B2B5BC;
  box-sizing: border-box;
  border-radius: 7px;
  width: 70px;
  height: 30px;
  /* English */
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  /* identical to box height, or 144% */
  text-align: center;
  color: #B2B5BC;
background-color: transparent;
}

.personal{
 font-family: poppins;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 22px;

color: #39414F;

opacity: 0.6;
}
.Business {
    /* Business (Company financing) */
width: 200;

font-family: poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;

color: #39414F;

opacity: 0.89;

}
.tamLogo {
    height:50px;
    width: 50px;
}
.nav-text{
 
top: calc(50% - 23px/2);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 23px;
/* identical to box height, or 144% */
text-align: center;
color: #767F8F;
}
.navii{
    width: 100%;
}
.container-fluid{
    width: 100%;
} 













.max-width{
    flex: 1;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    
    /* margin: auto; */
}
/* home section styling */
.bg-stripes{
    position: absolute;
    margin-top: 0px;
    top: 0px;
   height: 10.5%;
   height: 6vw;

    
/*   
   width: 100%;  */
}
.right_header {
    position: absolute;
    top: -.3rem;
    left: 55em;

    width: 30rem;
}
.account {
    position: relative;
    width: 30rem;
    font-size: .8rem;
    color: #909caf;
}
.section1{
    height: 950px;
    background: linear-gradient(252.43deg, #134491 9.89%, #1A73CB 96.03%);
}
.home88{
    /* display: flex; */
    
     
 
    /* color: #fff; */ width: 100%;
  height: 100%;
    min-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  height: 100%;
  /* display: flex; */
  
  /* align-items: flex-start; */
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
   color: #012558;
}
/* .home-content{
     padding: 2% 8% ;
} */
.home .home-content .text-2{
    color: #0B4F97;
   font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 600%;
line-height: 50px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: bold;
    font-family: Poppins;
font-style: normal;
color: #0B4F97;
font-weight: normal;
}
.home .home-content .text-3 span{
    color: #0B4F97;
    font-weight: 500;
      font-family: Poppins;
font-style: normal;
font-weight: normal;
}
.home .home-content a{
    display: inline-block;
  text-decoration: none;
    color: #A3A3A3;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    /* border: 2px solid #23555e; */
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: #23555e;
    background: none;
   
}
.illus{
    position: absolute;
    margin: 70px 55%;
    height: 70vh;
    /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.left-section{
    position: absolute;
    margin: 150px 3vw;
}
h2{
font-family: poppins;
font-style: normal;
font-weight: 600;
font-size: 90px;
line-height: 80px;
letter-spacing: -2px;

color: #FFFFFF;

text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.17);


}
.text_1{
    position: relative;
    animation-duration: 2s;
}
p2{
position: relative;
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 25px;
opacity: .96;
color: #F8FBFF;

text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);

}
.text_2{
position: absolute;
margin: 10px 0px;
width: 800px;
animation-duration: 2s;
}

.button2{
   
    position: relative;
  top: 90px;
color: white;
background: #F0B50F;
border-radius: 8px;
width: 250px;
height: 60px;
border-width: 0;
margin: ;
animation-duration: 2s;
}
.btn_text{

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 114%;
opacity: .98;
text-align: center;

color: #F8FBFF;

text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.16);

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}
h3{

font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 48px;

color: #F8FBFF;

text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.17);

}
.averaging{
    position: relative;
    line-height: 3rem;
    top: 140px;
 
    width: 780px;
    animation-duration: 2s;
    font-size: 2.4rem;
}


.quicksearch{
    overflow: hidden;
    width: 850px;
    height: 330px;
    position: relative;
    top: 170px;

background: #0C4086;
mix-blend-mode: normal;
border-radius: 8px;
animation-duration: 3s;
}

.get_started{
    position: relative;
    height: 140px;
    margin: 20px 33px;
}

.input-group-text{
    font-family: poppins;
}
.la1{
position: absolute;
font-family: poppins;
color: white;
margin-top: .5rem;
opacity: .7;
font-size: .9rem;
}
.la2{
    position: absolute;
    font-family: poppins;
color: white;
margin-top: .5rem;
opacity: .7;
font-size: .9rem;
}
.la3{
    position: absolute;
    font-family: poppins;
color: white;
margin-top: .5rem;
opacity: .7;
font-size: .9rem;
}
.la4{
    position: absolute;
    font-family: poppins;
color: white;
margin-top: .5rem;
opacity: .7;
font-size: .9rem;
}
.la5{
    position: absolute;
    font-family: poppins;
color: white;
margin-top: .5rem;
opacity: .7;
font-size: .9rem;
}
.content_flex{
     position: relative;
    display: flex;
    top: 20px;
    width: 100%;
}
.column_1{
    flex: 20%;
}.column_2{
    flex: 40%;
}.column_3{
    flex: 40%;
}
.quickText{
 
    text-align: center;
}
.BtnApply{
    font-family: poppins;
    font-size: 20px;
    position: relative;
    font-weight: 600;
    text-align: center;
    margin-top: 7px ;
height: 3rem;
width: 10rem;
color: #ffffff;
background: #F0B50F;
border: 3px solid #2E568C;text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.66);
box-sizing: border-box;
border-radius: 8px;
outline-color: white;
}
.quick_text3{

   
    font-size: 20px;
    position: relative;
    font-weight: 500;
    text-align: center;
    margin-top: -20px ;
    
}
.quick_eligibility1{
    display: flex;
}
.quick_results{
    position: relative;
    width: 36rem;
    top: 2.2rem;
    left: 13.8rem;
}
.result_eligible{

    font-family: poppins;
    opacity: .65;
    font-size: 1rem;
    font-weight: 400;
}
.eligibility-amount {
    font-size: 1.2rem;
}
.input-group{
    width: 18rem;
    height: 3rem;
    margin-top: 1.9rem;
}

.form-control{
   opacity: .9;
    font-family: poppins;
    height: 3rem;
}
.check_button{
    font-family: poppins;
flex: 60%;
font-size: 1rem;
border-radius: 0px 8px 8px 0px;
border-width: 0px;
font-weight: 500;
color: white;
background: #F0B50F;
}
.reset_button{
    font-weight: 500;font-size: 1rem;
    flex: 40%;
    font-family: poppins;
    border-radius: 8px 0px 0px 8px;
border-width: 1px;
border-color: rgba(255, 255, 255, 0.24);
color: rgb(255, 255, 255);
background: transparent;
outline:none;
}

.quick_box{
    position: relative;
    top: 20px;
width: 185px;
height: 45px;
padding: 22px 6px;
background: #F8FBFF;
border: 1px solid #D6D6D6;
box-sizing: border-box;
border-radius: 6px;

}
.quick_input{

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 114%;
/* or 11px */

width: 100%;
color: #2E568C;

text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.24);

border-width: 0px;
font-size: 14px;
background-color: transparent;
}

.quick_opt{
    position: relative;
 font-weight: 400;
 height: 2rem;
 background-color: transparent;
 top: -1rem;
 padding-top: .9rem;
 width: 100%;

}

.sub_text{
    position: relative;
    top: -9px;
}
.submit_box{

background: #F0B50F;
border-radius: 6px;
border-width: 0px;

}

/* circle */
.circular{
    height:100px;
    width: 100px;
    position: relative;
    transform:scale(1.5);
    margin: 40px 60px;
    
  }
  .circular .inner{
      
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 50%;
    height: 80px;
    width: 80px;
    margin: -40px 0 0 -40px;
    background:#0C4086;
    border-radius: 100%;
    border: 0.1px solid #fff;
   
  }
  .circular .number{
    position: absolute;
    top:47%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:6;
    width: 100%;
    /* Get started in no time */

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 120%;
/* or 18px */
text-align: center;

color: #F8FBFF;

text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.11);

  }
  .circular .bar{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 100%;
    clip: rect(0px, 100px, 100px, 50px);
    border: 0.1px solid #fff;
  }
  .circle .bar .progress{
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 100%;
    clip: rect(0px, 50px, 100px, 0px);
    background: #0C4086;

  }
  .circle .left .progress{
    z-index:1;
    animation: left 4s linear both;
  }
  @keyframes left{
    100%{
      transform: rotate(180deg);
    }
  }
  .circle .right {
    transform: rotate(180deg);
    z-index:3;
   
  }
  .circle .right .progress{
    animation: right 4s linear both;
    animation-delay:4s;
  }
  @keyframes right{
    100%{
      transform: rotate(180deg);
    }
  }
.zee{
    /* height: 2%;
    width: 2%; */
}



/* section 2 */
.section2{
height: 900px;
}
.virtual{
    position: relative;
    margin: 1px 0px;
    top: 70px;
    text-align: center;
    font-size: 50px;
color:#014497 ;
}

.text_give{
    position: relative;

font-family: Poppins;
font-style: normal;
font-weight: bold;
/* or 142% */
text-align: center;
text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
color: #014497;


    text-align: center;
    font-size: 20px;
    top:100px;
}
.timeline{
    position: relative;
    margin: 200px 500px;
}
.card_flex{
    position: relative;
    margin: -50px 450px;
    display: flex;
}
.why_text{
    /* why tama */

position: absolute;
width: 271px;
margin: -300px 100px;
font-family: poppins;
font-style: bold;
font-weight: 1000;
font-size: 58px;
line-height: 59px;
text-align: center;

color: #014497;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.set1{

}
.set2{
    
}




/* section 3 */
.section3{
    background: linear-gradient(252.43deg, #134491 9.89%, #1A73CB 96.03%);
    height: 1050px;
    padding: 50px 30px;
}
.work_text{
    /* The simplest way to */
    position: relative;
margin: 0px 50px;

font-family: poppins;
font-style: bold;
font-weight: 800;
font-size: 52px;
line-height: 51px;
text-align: left;
color: #F8FBFF;

}

.text_get_started{
position: relative;
margin: 10px 50px;
font-family: poppins;
font-style: normal;
font-weight: normal;
font-size: 23px;
line-height: 25px;
/* or 142% */
text-align: left;

color: #F8FBFF;


}
.how_work{
    height: 850px;
    margin: 0px 15%;
}
.platform{
    position: absolute;
    height: 250px;
    margin: 40px 100px;
}


/* section 4 */
.section4{
height: 700px;
}
.highlights{
    display: flex;
    margin: 100px 0px;
}
.highlight_text{
position: relative;
top: 40px;
font-family: Poppins;
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 61px;
/* identical to box height */
text-align: center;

color: #15549A;


}
.calculator1{
    flex: 50%;
    position: relative;
    top: 1rem;
    margin: 70px 220px;
    transform: scale(1.2);
    /* background-color: #014497;; */
}
.lead-calculator {
    padding: 0px 20px;
    margin: 2px -20px;
    background: #014497;
    color: #fff; 
    border-radius: 6px;
    width: 400px;
    height: 21.7rem;
  }
  /* .dh{
      position: relative;
     top: -.6vw;
  } */
  .l_1{
      font-family: poppins;
      font-weight: 100;
      transform: scale(.9);
  }
  .l_2{
    font-family: poppins;
    font-weight: 600;
  }
.loan_today{
    position: relative;
    color: white; 
    font-weight: normal;
    font-size: 200;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: .2px;
}
.btn-sm{
    margin: 20px 0px;
    border-radius: 8px;
    height: 32px;
    width: 50%;
    background-color: #F4F9FF;
    color:#014497;
}
.promo1{
    position: relative;
    flex: 50%;
    width: 300px;
    height: 600px;
    left: -100px;
     
}
.promo_feed{
position: relative;
overflow: hidden;
width: 500px;
 
height: 400px;
overflow-x: hidden;
border: 3px solid rgba(21, 84, 154, 0.1);
box-sizing: border-box;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
border-radius: 8px;
background-color: #014497;
margin: 0rem 0rem;
padding-top: .6rem;
}
.promo_grp1{
    position: relative;
height: 10rem;

left: .5rem;
margin-top: 0rem;

}
.pg2{
    position: relative;
    /* margin: -3rem 0px; */
    top: -2.5rem;
}
.pg3{
    position: relative;
    /* margin: -3rem 0px; */
    top: -5rem;
}
.get_best{
    opacity: 0;
    position: relative;
    left: 1rem;
    margin: 10px 0rem;
    font-family: Poppins;
font-style: normal;
font-size: 23px;
line-height: 25px;
    font-size: 20px;
    text-align: center;
    font-weight: 600;
color: #014497;
letter-spacing: .5px;
text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
}

/* footer */

.footer-row{
    position: relative;
    bottom: 0px;
}

.footer-widget{
    height: 2px;
}



































































/* Footer */
.footer1{
    /* overflow: hidden; */
    position: relative;
     margin:-190px 0px; 
    padding-top: 0px;
    height: 900px;
    background-color: #002B70;
    border-radius: 18px;
}
.ftext{
font-size: 12px;
}

.fhead{
/* SERVICES */

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 30px;
text-align: left;

color: #7887A7;


}

a{
    text-decoration: none;
}






footer span a{
    color: red;
    text-decoration: none;
}
footer span a:hover{
  
    text-decoration: none;
} 

























/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
   
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background:#F4F9FF;
}

::-webkit-scrollbar-thumb:hover {
    background: #0C4086;
}

/* all similar content styling codes */
section{
    /* padding: 100px 0; */
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    /* text-align: center; */
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #767F8F;
    padding: 0 5px;
    background: #c28264;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background-color: white;
    /* background: white; */
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .logo a span{
    color: #23555e;
    transition: all 0.3s ease;
}
.navbar.sticky .logo a span{
  
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    /* color: #fff; */
    font-size: 24px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: #23555e;
}
.navbar.sticky .menu li a:hover{
   
}









/* //Placeholder */

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 114%;
    
    color: #2E568C;
    
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 114%;
    
    color: #2E568C;
    
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 114%;
    
    color: #2E568C;
    
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: 114%;
    
    color: #2E568C;
    
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
   opacity:  1;
}
::-ms-input-placeholder { /* Microsoft Edge */
    font-family: Poppins;
    font-style: normal;
    font-weight: 80;
    line-height: 114%;
    
    color: #2E568C;
    
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

::placeholder { /* Most modern browsers support this now. */
  /* Company Name */


font-family: Poppins;
font-style: normal;
font-weight: 400;
line-height: 114%;

color: #2E568C;

text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);

}





/* experiment css */
.highlights_new{
    position: relative;
width: 80rem;
margin: 0px auto;
top: 8rem;
}
.calculator1_new{
position: relative;
top: 2.5rem;
left: 14rem;

transform: scale(1.35);

}
.promo1_new{
    position: relative;

top: -21rem;
left: 51rem;
transform: scale(1.17);
}

.pop{
    font-family: poppins;

        color: rgba(255, 255, 255, 0.658);
        opacity: .7rem;

}

.drop_arrow{
font-size: 3rem;
    color: tomato;
 
}
.Page_title{
    font-family: poppins;
font-style: normal;
font-weight: 600;
position: relative;
top: 7vw;
opacity: .9;
left: 2rem;
    font-size: 2.8rem;
    color: #FFFFFF;

text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.17);
  }

  .top_section_faq{
    height: 280px;
    
    background: linear-gradient(252.43deg, #134491 9.89%, #1A73CB 96.03%);

  }

  .faq_img{
	position: absolute;
	height: 11rem;
	left: auto;
	top: 6.5rem;
	right: 0px;
	z-index: 1;
  }
  
  
  output{
      opacity: 1;
      z-index: 95;
      color: white;
  }
  
  /* //Media */
  @media (max-width: 1440px) {
	.faq_img{
	  position: absolute;
	  height: 8rem;
	  left: auto;
	  top: 7rem;
	  right: 10px;
	  z-index: 1;
	}
	
   
	}
  @media (max-width: 990px) {
	
	.faq_img{
	 
	  height: 8rem;
	
	  top: 11rem;
	  right: 10px;
	}
	}
  
	@media (max-width: 834px) {
	  .faq_img{
	 
		height: 8rem;
	  
		top: 12rem;
		right: 10px;
	  }
	  
	  
	  }
	  
	@media (max-width: 768px) {
	  .faq_img{
	 
	  opacity: 0;
	  }
	  
	  
	  }

      .footer-logo {
 opacity: .7;
        width: 5rem;
      }