    @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
    /*Reset*/
    /* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
    /* 
.article-pre__col{
  padding:0 30px;
  margin-bottom:30px;
}

.article-pre__img {
    height: 0;
    background-position: center;
    background-size: cover;
    padding-bottom: 55%;
    border-radius: 6px;
  box-shadow: 0 4px 10px 2px rgba(0,0,0,0.3);
  transition: all 0.4s;
-webkit-transition: all 0.4s;
-moz-transition: all 0.4s;
-ms-transition: all 0.4s;
-o-transition: all 0.4s;
}

.article-pre__img--first{
   background-image: url(../images/Frame\ 1.png);
}

.article-pre__img--second{
    background-image: url(../images/Frame\ 2.png);
}

.article-pre__img--third{
    background-image: url(../images/Frame\ 3.png);
}

.article-pre__img--fourth{
    background-image: url(../images/Frame\ 4.png);
}

.article-pre:hover .article-pre__img {
  box-shadow: 0px 10px 13px 4px rgba(0, 0, 0,0.2);
}

.article-pre:hover {
  text-decoration:none;
}
.article-pre__info {
    font-size: 16px;
    color: #00000098;
  margin: -2rem 0px;
padding: 10px 10px 0 10px;
font-family: poppins;
text-shadow: none;
}

.article-pre__date {
    float: right;
}

.article-pre__title {
font-size: 20px;
color: #1f4568;
margin: 0;
padding: 15px 25px;
}

.article-pre__arrow--purple{
  color: #8a3aff;
} */
    /* ///////////////////////////////// */
    
    body,
    html {
        /* font-family: 'Vollkorn', serif;
    font-weight: 400;
    line-height: 1.3;
    font-size: 16px; */
    }
    
    .siteTitle {
        display: block;
        font-weight: 900;
        font-size: 30px;
        margin: 20px 0;
    }
    
    @media (min-width: 768px) {
        .siteTitle {
            font-size: 60px;
        }
    }
    
    .card {
        height: 100px;
        position: relative;
        padding: 20px;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
        text-decoration: none;
        border: 4px solid #5489be17;
        margin-bottom: 20px;
        background-image: url('../images/Frame\ 1.png');
        background-size: cover;
    }
    
    @media (min-width: 768px) {
        .card {
            height: 300px;
        }
    }
    
    .inner {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(228, 240, 255, 0.671);
        box-sizing: border-box;
        padding: 40px;
        border-radius: .2rem;
        float: left;
    }
    
    @media (min-width: 768px) {
        .inner {
            width: 50%;
            height: 100%;
        }
    }
    
    .title {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
        color: #0d32779c;
        text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.26);
        position: relative;
        line-height: 2rem;
        margin: 0 0 20px 0;
    }
    
    @media (min-width: 768px) {
        .title {
            font-size: 30px;
        }
    }
    
    .subtitle {
        color: #313131;
        font-weight: 500;
        font-family: poppins;
        text-align: center;
    }
    
    .card1 {
        flex: 50%;
        margin-left: 2rem;
    }
    
    .card2 {
        background-image: url('../images/Frame\ 2.png');
    }
    
    .card3 {
        background-image: url('../images/Frame\ 4.png');
        flex: 50%;
        margin-left: 2rem;
    }
    
    .card3 {
        background-image: url('../images/Frame\ 3.png');
    }
    
    .cards_contain {
        padding-right: 12%;
        direction: rtl;
        padding-left: 12%;
    }
    
    .applyProductType {
        position: relative;
        background: #F0B50F;
        color: white;
        font-weight: 500;
        font-family: poppins;
        border-radius: 4px;
        border-width: 0px;
        top: 1rem;
        width: 8rem;
        height: 2rem;
    }
    
    .typeWrap1 {
        display: flex;
        flex: 100%;
    }
    
    @media (max-width: 768px) {
        .typeWrap1 {
            display: block;
        }
        .card {
            height: 300px;
        }
        .inner {
            width: 70%;
            height: 100%;
        }
        .card1,
        .card3 {
            margin-left: 0rem;
        }
    }