/* Tamawal -Personal LTR */

position: relative;
width: 1475px;
height: 3924px;

background: linear-gradient(252.43deg, #134491 9.89%, #1A73CB 96.03%);


/* Loans usage  tab */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 541px;
top: 975px;



/* Rectangle 294 */

position: absolute;
width: 145.11px;
height: 39.34px;
left: 541px;
top: 975px;

opacity: 0.29;
border: 1px solid #8FA7C8;
box-sizing: border-box;
border-radius: 6px;


/* get started */

position: absolute;
width: 128px;
height: 32px;
left: 1052px;
top: calc(50% - 32px/2 - 714px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
text-align: center;

color: #8EA0C1;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* loan booking */

position: absolute;
width: 145.11px;
height: 39.34px;
left: 1043px;
top: 975px;

background: rgba(199, 216, 239, 0.15);
opacity: 0.29;
border: 1px solid #8FA7C8;
box-sizing: border-box;
border-radius: 6px;


/* Rectangle 317 */

position: absolute;
width: 1561px;
height: 2071px;
left: -66px;
top: 1606px;

background: linear-gradient(237.09deg, #073C8E 25.45%, #1A73CB 96.83%);


/* Rectangle 324 */

position: absolute;
left: -1.22%;
right: -0.61%;
top: 73.55%;
bottom: -0.42%;

background: #FEFEFF;


/* footer */

position: absolute;
width: 295px;
height: 161.67px;
left: 800px;
top: 3761.89px;



/* Menu 2 */

position: absolute;
width: 295px;
height: 161.67px;
left: 800px;
top: 3761.89px;



/* Chrom Extension */

position: absolute;
visibility: hidden;
width: 139px;
height: 30px;
right: 13px;
top: calc(50% - 30px/2 + 50.59px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* BG */

position: absolute;
width: nanpx;
height: nanpx;
left: -922.99px;
top: -2681px;



/* BG */

position: absolute;
visibility: hidden;
width: 3428.57px;
height: 2570.52px;
left: -1687px;
top: 3043.86px;

background: #FEFEFF;
border-radius: 100px;


/* Group 946 */

position: absolute;
width: 258.41px;
height: 275.03px;
left: 1208px;
top: 2680px;



/* bg-footer-2 */

position: absolute;
width: 241.49px;
height: 259.35px;
left: 1448.95px;
top: 2680px;

background: url(bg-footer-2.png);
border-radius: 52px;
transform: matrix(-1, 0.07, 0.07, 1, 0, 0);


/* Footer */

position: absolute;
width: 1440px;
height: 49.5px;
left: 34px;
top: 3952.5px;



/* Menu 2 */

position: absolute;
visibility: hidden;
width: 152px;
height: 188.09px;
left: 928px;
top: 3838px;



/* Terms & Conditions */

position: absolute;
height: 30px;
left: 0%;
right: -1.97%;
top: calc(50% - 30px/2 - 38.73px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Privacy policy */

position: absolute;
width: 109px;
height: 30px;
right: 43px;
top: calc(50% - 30px/2 - 4.73px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Support */

position: absolute;
width: 66px;
height: 30px;
right: 86px;
top: calc(50% - 30px/2 + 29.27px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Chrom Extension */

position: absolute;
visibility: hidden;
width: 139px;
height: 30px;
right: 13px;
top: calc(50% - 30px/2 + 64.27px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Lowest footer */

position: absolute;
width: 1440px;
height: 49.5px;
left: 34px;
top: 3952.5px;



/* Rectangle 5 */

position: absolute;
left: 0%;
right: 0%;
top: 100%;
bottom: -115.02%;

background: #E6EFFA;


/* Footer */

position: absolute;
width: 77px;
height: 43.84px;
left: 1688px;
top: 3824px;



/* Socials */

position: absolute;
width: 77px;
height: 43.84px;
left: 1688px;
top: 3824px;



/* Instagram */

position: absolute;
width: 33px;
height: 43.84px;
left: 1688px;
top: 3824px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 1688px;
top: 3824px;

background: #677897;


/* back */

position: absolute;
width: 33px;
height: 43.84px;
left: 1688px;
top: 3824px;

background: #DADADA;


/* Shape */

position: absolute;
width: 17.6px;
height: 23.38px;
left: 1695.7px;
top: 3834.23px;

background: #DADADA;


/* Combined Shape */

position: absolute;
width: 14.43px;
height: 19.17px;
left: 1697.29px;
top: 3836.33px;

background: #677897;


/* Shape */

position: absolute;
width: 14.43px;
height: 19.17px;
left: 1697.29px;
top: 3836.33px;

background: #DADADA;


/* Shape */

position: absolute;
width: 2.11px;
height: 2.81px;
left: 1708.14px;
top: 3838.28px;

background: #DADADA;


/* Shape */

position: absolute;
width: 9.04px;
height: 12.01px;
left: 1699.98px;
top: 3839.92px;

background: #DADADA;


/* Shape */

position: absolute;
width: 5.87px;
height: 7.79px;
left: 1701.57px;
top: 3842.02px;

background: #677897;


/* Behance */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 1744px;
top: 3824px;



/* Combined Shape */

position: absolute;
width: 33.49px;
height: 43.84px;
left: 1744px;
top: 3824px;

background: #677897;


/* back */

position: absolute;
width: 33.49px;
height: 43.84px;
left: 1744px;
top: 3824px;

background: #DADADA;


/* Behance */

position: absolute;
width: 4.72px;
height: 1.77px;
left: 1763.2px;
top: 3839.28px;

background: #DADADA;


/* Behance */

position: absolute;
width: 8.09px;
height: 11.18px;
left: 1761.55px;
top: 3842.04px;

background: #DADADA;


/* Behance */

position: absolute;
width: 9.04px;
height: 14.25px;
left: 1751.8px;
top: 3838.61px;

background: #DADADA;


/* Combined Shape */

position: absolute;
width: 13.42px;
height: 9.3px;
left: 1754px;
top: 3841.09px;

background: #677897;


/* Behance */

position: absolute;
width: 4.29px;
height: 3.15px;
left: 1754px;
top: 3841.09px;

background: #DADADA;


/* Behance */

position: absolute;
width: 3.67px;
height: 2.23px;
left: 1763.75px;
top: 3844.32px;

background: #DADADA;


/* Behance */

position: absolute;
width: 4.52px;
height: 3.8px;
left: 1754px;
top: 3846.59px;

background: #DADADA;


/* Dribbble */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 1633px;
top: 3824px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 1633px;
top: 3824px;

background: #677897;


/* back */

position: absolute;
width: 33px;
height: 43.84px;
left: 1633px;
top: 3824px;

background: #DADADA;


/* Path */

position: absolute;
width: 17.6px;
height: 23.35px;
left: 1640.7px;
top: 3834.23px;

background: #DADADA;


/* Combined Shape */

position: absolute;
width: 15.03px;
height: 19.94px;
left: 1641.98px;
top: 3835.94px;

background: #677897;


/* Path */

position: absolute;
width: 5.9px;
height: 6.23px;
left: 1651.12px;
top: 3839.57px;

background: #DADADA;


/* Path */

position: absolute;
width: 4.68px;
height: 7.28px;
left: 1652.23px;
top: 3846.89px;

background: #DADADA;


/* Path */

position: absolute;
width: 7.55px;
height: 8.36px;
left: 1644.88px;
top: 3847.51px;

background: #DADADA;


/* Path */

position: absolute;
width: 6.73px;
height: 6.09px;
left: 1647.73px;
top: 3835.94px;

background: #DADADA;


/* Path */

position: absolute;
width: 8.33px;
height: 8.4px;
left: 1641.98px;
top: 3844.17px;

background: #DADADA;


/* Path */

position: absolute;
width: 6.94px;
height: 6.96px;
left: 1642.14px;
top: 3836.89px;

background: #DADADA;


/* Facebook */

position: absolute;
width: 33px;
height: 43.84px;
left: 1732px;
top: 3824px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 1732px;
top: 3824px;

background: #677897;


/* Facebook */

position: absolute;
width: 33px;
height: 43.84px;
left: 1732px;
top: 3824px;

background: #DADADA;


/* Path */

position: absolute;
width: 8.38px;
height: 23.85px;
left: 1744.1px;
top: 3834.23px;

background: #DADADA;


/* Medium */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 1855px;
top: 3824px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 1855px;
top: 3824px;

background: #677897;


/* back */

position: absolute;
width: 33px;
height: 43.84px;
left: 1855px;
top: 3824px;

background: #DADADA;


/* Fill 51 */

position: absolute;
width: 5.67px;
height: 19.12px;
left: 1863.25px;
top: 3836.51px;

background: #DADADA;


/* Fill 50 */

position: absolute;
width: 5.21px;
height: 14.3px;
left: 1875.04px;
top: 3841.32px;

background: #DADADA;


/* Fill 48 */

position: absolute;
width: 5.17px;
height: 11.02px;
left: 1869.42px;
top: 3841.13px;

background: #DADADA;


/* Fill 47 */

position: absolute;
width: 9.02px;
height: 15.1px;
left: 1871.17px;
top: 3836.42px;

background: #DADADA;


/* Footer */

position: absolute;
width: 430px;
height: 989.09px;
left: 1692px;
top: 3038px;



/* Menu 2 */

position: absolute;
width: 152px;
height: 188.09px;
left: 1692px;
top: 3839px;



/* Terms & Conditions */

position: absolute;
height: 30px;
left: 0%;
right: -1.97%;
top: calc(50% - 30px/2 - 38.73px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Privacy policy */

position: absolute;
width: 109px;
height: 30px;
right: 43px;
top: calc(50% - 30px/2 - 4.73px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Support */

position: absolute;
width: 66px;
height: 30px;
right: 86px;
top: calc(50% - 30px/2 + 29.27px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Chrom Extension */

position: absolute;
visibility: hidden;
width: 139px;
height: 30px;
right: 13px;
top: calc(50% - 30px/2 + 64.27px);

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 187% */

color: #B0B9CA;



/* Socials */

position: absolute;
width: 77px;
height: 43.84px;
left: 2045px;
top: 3038px;



/* Instagram */

position: absolute;
width: 33px;
height: 43.84px;
left: 2045px;
top: 3038px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 2045px;
top: 3038px;

background: #677897;


/* back */

position: absolute;
width: 33px;
height: 43.84px;
left: 2045px;
top: 3038px;

background: #DADADA;


/* Shape */

position: absolute;
width: 17.6px;
height: 23.38px;
left: 2052.7px;
top: 3048.23px;

background: #DADADA;


/* Combined Shape */

position: absolute;
width: 14.43px;
height: 19.17px;
left: 2054.29px;
top: 3050.33px;

background: #677897;


/* Shape */

position: absolute;
width: 14.43px;
height: 19.17px;
left: 2054.29px;
top: 3050.33px;

background: #DADADA;


/* Shape */

position: absolute;
width: 2.11px;
height: 2.81px;
left: 2065.14px;
top: 3052.28px;

background: #DADADA;


/* Shape */

position: absolute;
width: 9.04px;
height: 12.01px;
left: 2056.98px;
top: 3053.92px;

background: #DADADA;


/* Shape */

position: absolute;
width: 5.87px;
height: 7.79px;
left: 2058.57px;
top: 3056.02px;

background: #677897;


/* Behance */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 2101px;
top: 3038px;



/* Combined Shape */

position: absolute;
width: 33.49px;
height: 43.84px;
left: 2101px;
top: 3038px;

background: #677897;


/* back */

position: absolute;
width: 33.49px;
height: 43.84px;
left: 2101px;
top: 3038px;

background: #DADADA;


/* Behance */

position: absolute;
width: 4.72px;
height: 1.77px;
left: 2120.2px;
top: 3053.28px;

background: #DADADA;


/* Behance */

position: absolute;
width: 8.09px;
height: 11.18px;
left: 2118.55px;
top: 3056.05px;

background: #DADADA;


/* Behance */

position: absolute;
width: 9.04px;
height: 14.25px;
left: 2108.8px;
top: 3052.61px;

background: #DADADA;


/* Combined Shape */

position: absolute;
width: 13.42px;
height: 9.3px;
left: 2111px;
top: 3055.09px;

background: #677897;


/* Behance */

position: absolute;
width: 4.29px;
height: 3.15px;
left: 2111px;
top: 3055.09px;

background: #DADADA;


/* Behance */

position: absolute;
width: 3.67px;
height: 2.23px;
left: 2120.75px;
top: 3058.32px;

background: #DADADA;


/* Behance */

position: absolute;
width: 4.52px;
height: 3.8px;
left: 2111px;
top: 3060.59px;

background: #DADADA;


/* Dribbble */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 1990px;
top: 3038px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 1990px;
top: 3038px;

background: #677897;


/* back */

position: absolute;
width: 33px;
height: 43.84px;
left: 1990px;
top: 3038px;

background: #DADADA;


/* Path */

position: absolute;
width: 17.6px;
height: 23.35px;
left: 1997.7px;
top: 3048.23px;

background: #DADADA;


/* Combined Shape */

position: absolute;
width: 15.03px;
height: 19.94px;
left: 1998.98px;
top: 3049.93px;

background: #677897;


/* Path */

position: absolute;
width: 5.9px;
height: 6.23px;
left: 2008.12px;
top: 3053.57px;

background: #DADADA;


/* Path */

position: absolute;
width: 4.68px;
height: 7.28px;
left: 2009.23px;
top: 3060.89px;

background: #DADADA;


/* Path */

position: absolute;
width: 7.55px;
height: 8.36px;
left: 2001.88px;
top: 3061.51px;

background: #DADADA;


/* Path */

position: absolute;
width: 6.73px;
height: 6.09px;
left: 2004.73px;
top: 3049.93px;

background: #DADADA;


/* Path */

position: absolute;
width: 8.33px;
height: 8.4px;
left: 1998.98px;
top: 3058.17px;

background: #DADADA;


/* Path */

position: absolute;
width: 6.94px;
height: 6.96px;
left: 1999.14px;
top: 3050.89px;

background: #DADADA;


/* Facebook */

position: absolute;
width: 33px;
height: 43.84px;
left: 2089px;
top: 3038px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 2089px;
top: 3038px;

background: #677897;


/* Facebook */

position: absolute;
width: 33px;
height: 43.84px;
left: 2089px;
top: 3038px;

background: #DADADA;


/* Path */

position: absolute;
width: 8.38px;
height: 23.85px;
left: 2101.1px;
top: 3048.23px;

background: #DADADA;


/* Medium */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 2212px;
top: 3038px;



/* Combined Shape */

position: absolute;
width: 33px;
height: 43.84px;
left: 2212px;
top: 3038px;

background: #677897;


/* back */

position: absolute;
width: 33px;
height: 43.84px;
left: 2212px;
top: 3038px;

background: #DADADA;


/* Fill 51 */

position: absolute;
width: 5.67px;
height: 19.12px;
left: 2220.25px;
top: 3050.51px;

background: #DADADA;


/* Fill 50 */

position: absolute;
width: 5.21px;
height: 14.3px;
left: 2232.04px;
top: 3055.32px;

background: #DADADA;


/* Fill 48 */

position: absolute;
width: 5.17px;
height: 11.02px;
left: 2226.42px;
top: 3055.13px;

background: #DADADA;


/* Fill 47 */

position: absolute;
width: 9.02px;
height: 15.1px;
left: 2228.17px;
top: 3050.42px;

background: #DADADA;


/* page 3 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: -66px;
top: 789px;



/* Panel steps */

position: absolute;
width: nanpx;
height: nanpx;
left: -66px;
top: 1846px;



/* Text */

position: absolute;
width: 447px;
height: 260px;
left: 945px;
top: 2483px;

opacity: 0.88;


/* Get all the benefits */

position: absolute;
left: 8.72%;
right: 4.47%;
top: 46.54%;
bottom: -7.31%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
text-align: center;

color: #FCFDFF;



/* Text */

position: absolute;
width: 447px;
height: 260px;
left: -66px;
top: 1900px;

opacity: 0.88;


/* Get all the benefits */

position: absolute;
left: 21.7%;
right: 18.79%;
top: 41.92%;
bottom: 19.23%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 26px;
text-align: center;

color: #F8FAFF;



/* Text */

position: absolute;
width: 447px;
height: 260px;
left: 754.19px;
top: 1925.75px;

opacity: 0.88;


/* Get all the benefits */

position: absolute;
left: 0%;
right: 13.2%;
top: 47.69%;
bottom: -8.46%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 34px;
text-align: center;

color: #FBFCFF;



/* Steps illus */

position: absolute;
width: nanpx;
height: nanpx;
left: 239px;
top: 1855.49px;

transform: rotate(-0.66deg);


/* Icon 2 */

position: absolute;
width: 280.96px;
height: 280.24px;
left: 523.16px;
top: 1852.23px;

transform: rotate(-0.66deg);


/* BG */

position: absolute;
left: 51.56%;
right: -11.4%;
top: 6.54%;
bottom: 33.47%;

background: #254775;
opacity: 0.63;
box-shadow: 0px 2px 44px 2px rgba(23, 128, 224, 0.271031);
border-radius: 15px;
transform: rotate(44.34deg);


/* Icon */

position: absolute;
width: nanpx;
height: nanpx;
left: 95.47px;
top: 87.57px;

transform: rotate(-0.66deg);


/* Icon bg */

position: absolute;
left: 33.98%;
right: 29.88%;
top: 31.25%;
bottom: 32.52%;

background: linear-gradient(0deg, #375E96 -51.32%, #FFFFFF 99.16%);
border-radius: 10.5px;
transform: rotate(-0.66deg);


/* login 1 */

position: absolute;
width: 51px;
height: 54px;
left: 120.34px;
top: 125.61px;

opacity: 0.72;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 1.85%;
bottom: -1.85%;

background: linear-gradient(90deg, #1E4263 0%, #1B405B 79.6%, #004B8C 100%);


/* Do you want to impre */

position: absolute;
height: 22.82px;
left: 33.4%;
right: 29.83%;
top: calc(50% - 22.82px/2 - 31.51px);

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 21px;
line-height: 21px;
/* or 102% */
text-align: center;

opacity: 0.96;
text-shadow: 0px 1px 0px rgba(37, 71, 117, 0.82);
transform: rotate(-1.22deg);


/* Line 4 */

position: absolute;
width: 118.79px;
height: 0px;
left: 609.19px;
top: 2044.75px;

opacity: 0.63;
border: 8px solid #254775;
transform: rotate(135deg);


/* Icon 4 */

position: absolute;
width: 281.63px;
height: 260.55px;
left: 493.76px;
top: 2542.08px;

transform: rotate(-0.66deg);


/* BG */

position: absolute;
left: 54.42%;
right: -14.12%;
top: 6.03%;
bottom: 29.45%;

background: #254775;
opacity: 0.63;
box-shadow: 0px 2px 44px 2px rgba(23, 128, 224, 0.271031);
border-radius: 15px;
transform: rotate(44.34deg);


/* Icon */

position: absolute;
width: nanpx;
height: nanpx;
left: 103.87px;
top: 84.96px;

transform: rotate(-0.66deg);


/* Icon bg */

position: absolute;
left: 36.88%;
right: 27.07%;
top: 32.61%;
bottom: 28.42%;

background: linear-gradient(0deg, #375E96 -51.32%, #FFFFFF 99.16%);
border-radius: 10.5px;
transform: rotate(-0.66deg);


/* Combined Shape */

position: absolute;
visibility: hidden;
left: 48.02%;
right: 33.37%;
top: 40.39%;
bottom: 34.4%;

background: linear-gradient(87.51deg, #102397 -66.72%, #187ADF 25.09%, #00EAF8 99.38%);
transform: rotate(-0.66deg);


/* Exclude */

position: absolute;
width: 52.42px;
height: 65.67px;
left: 135.24px;
top: 105.23px;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 48.02%;
right: 33.37%;
top: 40.39%;
bottom: 34.4%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 48.57%;
right: 45.76%;
top: 40.98%;
bottom: 53.73%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 48.69%;
right: 45.64%;
top: 52.76%;
bottom: 41.93%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 48.63%;
right: 45.7%;
top: 46.86%;
bottom: 47.82%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 54.79%;
right: 39.42%;
top: 41.34%;
bottom: 51.95%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 54.85%;
right: 40.8%;
top: 47.08%;
bottom: 46.35%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 54.92%;
right: 42.41%;
top: 53.28%;
bottom: 40.74%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 56.36%;
right: 39.79%;
top: 54.94%;
bottom: 38.99%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 58.07%;
right: 36.65%;
top: 49.02%;
bottom: 43.79%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 59.79%;
right: 33.87%;
top: 43.91%;
bottom: 48.58%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.13%;
right: 50.36%;
top: 41.63%;
bottom: 57.82%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.65%;
right: 48.85%;
top: 41.61%;
bottom: 57.84%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.45%;
right: 48.04%;
top: 41.6%;
bottom: 57.85%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.07%;
right: 46.43%;
top: 41.58%;
bottom: 57.87%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.14%;
right: 50.36%;
top: 42.5%;
bottom: 56.95%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.66%;
right: 48.84%;
top: 42.49%;
bottom: 56.97%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.46%;
right: 48.03%;
top: 42.48%;
bottom: 56.98%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.08%;
right: 46.42%;
top: 42.46%;
bottom: 57%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.15%;
right: 50.35%;
top: 43.41%;
bottom: 56.04%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.67%;
right: 48.83%;
top: 43.4%;
bottom: 56.06%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.47%;
right: 48.02%;
top: 43.39%;
bottom: 56.07%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.09%;
right: 46.41%;
top: 43.37%;
bottom: 56.09%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.16%;
right: 50.34%;
top: 44.29%;
bottom: 55.17%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.67%;
right: 48.82%;
top: 44.27%;
bottom: 55.19%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.48%;
right: 48.01%;
top: 44.26%;
bottom: 55.2%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.1%;
right: 46.4%;
top: 44.24%;
bottom: 55.22%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.17%;
right: 50.33%;
top: 45.12%;
bottom: 54.33%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.81%;
right: 49.68%;
top: 41.62%;
bottom: 57.83%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.82%;
right: 49.67%;
top: 42.5%;
bottom: 56.96%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.83%;
right: 49.66%;
top: 43.41%;
bottom: 56.05%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.84%;
right: 49.65%;
top: 44.28%;
bottom: 55.18%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.85%;
right: 49.64%;
top: 45.12%;
bottom: 54.34%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.68%;
right: 48.81%;
top: 45.1%;
bottom: 54.35%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.49%;
right: 48%;
top: 45.1%;
bottom: 54.36%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.26%;
right: 47.23%;
top: 41.59%;
bottom: 57.86%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.27%;
right: 47.22%;
top: 42.47%;
bottom: 56.99%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.28%;
right: 47.21%;
top: 43.38%;
bottom: 56.08%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.29%;
right: 47.2%;
top: 44.25%;
bottom: 55.21%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.3%;
right: 47.2%;
top: 45.09%;
bottom: 54.37%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.11%;
right: 46.39%;
top: 45.08%;
bottom: 54.38%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.19%;
right: 50.3%;
top: 47.44%;
bottom: 52.01%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.71%;
right: 48.79%;
top: 47.42%;
bottom: 52.03%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.53%;
right: 47.97%;
top: 48.28%;
bottom: 51.17%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.14%;
right: 46.35%;
top: 48.26%;
bottom: 51.19%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.21%;
right: 50.28%;
top: 49.22%;
bottom: 50.23%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.73%;
right: 48.77%;
top: 49.2%;
bottom: 50.25%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.54%;
right: 47.95%;
top: 50.07%;
bottom: 49.39%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.16%;
right: 46.33%;
top: 50.05%;
bottom: 49.41%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.23%;
right: 50.27%;
top: 50.93%;
bottom: 48.52%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.88%;
right: 49.61%;
top: 48.31%;
bottom: 51.15%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.9%;
right: 49.59%;
top: 50.09%;
bottom: 49.37%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.75%;
right: 48.75%;
top: 50.91%;
bottom: 48.54%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.32%;
right: 47.17%;
top: 47.4%;
bottom: 52.05%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.34%;
right: 47.15%;
top: 49.18%;
bottom: 50.27%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.36%;
right: 47.13%;
top: 50.89%;
bottom: 48.56%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.55%;
right: 48.94%;
top: 53.36%;
bottom: 46.09%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.97%;
right: 46.52%;
top: 53.33%;
bottom: 46.12%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.35%;
right: 50.15%;
top: 54.25%;
bottom: 45.2%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.77%;
right: 47.72%;
top: 54.22%;
bottom: 45.23%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.57%;
right: 48.93%;
top: 55.11%;
bottom: 44.34%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 52.99%;
right: 46.5%;
top: 55.08%;
bottom: 44.37%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 49.37%;
right: 50.13%;
top: 56%;
bottom: 43.46%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 51.79%;
right: 47.7%;
top: 55.97%;
bottom: 43.49%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 50.59%;
right: 48.91%;
top: 56.86%;
bottom: 42.6%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Oval-path */

position: absolute;
left: 53.01%;
right: 46.48%;
top: 56.83%;
bottom: 42.63%;

background: #DADADA;
transform: rotate(-0.66deg);


/* approved 1 */

position: absolute;
width: 64px;
height: 64px;
left: 122.73px;
top: 119.76px;

opacity: 0.64;


/* Vector */

position: absolute;
left: 3.12%;
right: 0%;
top: 56.25%;
bottom: 3.12%;

opacity: 0.47;
border-radius: 15px;


/* Vector */

position: absolute;
left: 19.54%;
right: 21.08%;
top: 9.99%;
bottom: 30.63%;

background: linear-gradient(180deg, #013B88 0%, rgba(0, 185, 255, 0.73) 100%);
opacity: 0.26;
box-shadow: 0px 2px 44px rgba(23, 128, 224, 0.271031);
border-radius: 15px;


/* Vector */

position: absolute;
left: 28.92%;
right: 30.46%;
top: 19.37%;
bottom: 40.01%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 35.94%;
right: 35.94%;
top: 29.69%;
bottom: 46.88%;

background: #347ABF;


/* Group */

position: absolute;
left: 7.81%;
right: nan%;
top: 68.75%;
bottom: nan%;



/* Vector */

position: absolute;
left: 7.81%;
right: 82.81%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 18.75%;
right: 71.88%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 29.69%;
right: 60.94%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 40.62%;
right: 50%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 62.5%;
right: 28.12%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 73.44%;
right: 18.75%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 51.56%;
right: 39.06%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Vector */

position: absolute;
left: 82.81%;
right: 7.81%;
top: 68.75%;
bottom: 15.62%;

background: #F2F2F2;


/* Do you want to impre */

position: absolute;
height: 44.87px;
left: 32.4%;
right: 22.71%;
top: calc(50% - 44.87px/2 - 18.99px);

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 13px;
line-height: 15px;
/* or 115% */
text-align: center;

opacity: 0.96;
text-shadow: 0px 1px 0px rgba(37, 71, 117, 0.68);
transform: rotate(-1.22deg);


/* Icon 1 */

position: absolute;
width: 438.98px;
height: 429.48px;
left: 241.28px;
top: 2053.93px;

transform: rotate(-0.66deg);


/* BG */

position: absolute;
left: 51.37%;
right: -11.22%;
top: 5.32%;
bottom: 33.51%;

background: #254775;
opacity: 0.63;
box-shadow: 0px 2px 44px 2px rgba(23, 128, 224, 0.271031);
border-radius: 15px;
transform: rotate(44.34deg);


/* Icon */

position: absolute;
width: nanpx;
height: nanpx;
left: 154.44px;
top: 137.36px;

transform: rotate(-0.66deg);


/* Icon bg */

position: absolute;
left: 35.18%;
right: 31.9%;
top: 31.98%;
bottom: 34.37%;

background: linear-gradient(0deg, #375E96 -51.32%, #FFFFFF 99.16%);
border-radius: 10.5px;
transform: rotate(-0.66deg);


/* Combined Shape */

position: absolute;
visibility: hidden;
left: 40.54%;
right: 37.02%;
top: 40.41%;
bottom: 40.8%;

background: linear-gradient(44.91deg, #102397 -5.12%, #187ADF 48.89%, #00EAF8 92.6%);
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 48.52%;
right: 44.48%;
top: 57.22%;
bottom: 40.89%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 47.44%;
right: 43.81%;
top: 44.68%;
bottom: 43.78%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
left: 40.54%;
right: 37.02%;
top: 40.41%;
bottom: 46.91%;

background: #DADADA;
transform: rotate(-0.66deg);


/* bank 1 */

position: absolute;
width: 80px;
height: 80px;
left: 187.21px;
top: 194.72px;

opacity: 0.72;


/* Group */

position: absolute;
left: 0%;
right: nan%;
top: 0.02%;
bottom: nan%;

opacity: 0.96;
filter: drop-shadow(0px 1px 0px rgba(37, 71, 117, 0.82));


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0.02%;
bottom: 0.02%;

background: linear-gradient(180deg, #2A6093 0%, #07687D 100%);


/* Do you want to impre */

position: absolute;
height: 44.87px;
left: 37.18%;
right: 34.02%;
top: calc(50% - 44.87px/2 - 47.9px);

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* or 119% */
text-align: center;

opacity: 0.96;
text-shadow: 0px 1px 0px rgba(37, 71, 117, 0.82);
transform: rotate(-1.22deg);


/* Icon 3 */

position: absolute;
width: 479.1px;
height: 413.26px;
left: 589.38px;
top: 2207.69px;

transform: rotate(-0.66deg);


/* Line 4 */

position: absolute;
width: 125.21px;
height: 0px;
left: 123.82px;
top: 171.57px;

opacity: 0.6;
border: 8px solid #254775;
transform: rotate(-136.62deg);


/* BG */

position: absolute;
left: 56.18%;
right: -11.01%;
top: 5.53%;
bottom: 30.9%;

background: #254775;
opacity: 0.63;
box-shadow: 0px 2px 44px 2px rgba(23, 128, 224, 0.271031);
border-radius: 15px;
transform: rotate(44.34deg);


/* Icon */

position: absolute;
width: nanpx;
height: nanpx;
left: 198.23px;
top: 137.18px;

transform: rotate(-0.66deg);


/* Icon bg */

position: absolute;
left: 41.38%;
right: 28.46%;
top: 33.2%;
bottom: 31.84%;

background: linear-gradient(0deg, #375E96 -51.32%, #FFFFFF 99.16%);
border-radius: 10.5px;
transform: rotate(-0.66deg);


/* Shape */

position: absolute;
visibility: hidden;
left: 46.91%;
right: 33.99%;
top: 42.21%;
bottom: 39.04%;

background: linear-gradient(98.55deg, #102397 -112.54%, #187ADF 31.25%, #00EAF8 147.62%);
transform: rotate(-0.66deg);


/* Path */

position: absolute;
left: 46.91%;
right: 33.99%;
top: 42.21%;
bottom: 39.04%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Path */

position: absolute;
left: 50.72%;
right: 35.47%;
top: 46.5%;
bottom: 50.92%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Path */

position: absolute;
left: 49.69%;
right: 36.53%;
top: 44.5%;
bottom: 50.93%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Path */

position: absolute;
left: 48.63%;
right: 37.59%;
top: 42.92%;
bottom: 50.92%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Path */

position: absolute;
left: 47.62%;
right: 34.55%;
top: 49.83%;
bottom: 39.76%;

background: #DADADA;
transform: rotate(-0.66deg);


/* Line 5 */

position: absolute;
width: 121.26px;
height: 1.58px;
left: 186.41px;
top: 309.21px;

opacity: 0.6;
border: 8px solid #254775;
transform: rotate(136.25deg);


/* checked-filled-list 1 */

position: absolute;
width: 79.18px;
height: 79.18px;
left: 235.11px;
top: 196.62px;

opacity: 0.72;
transform: rotate(-1.59deg);


/* Group */

position: absolute;
left: 2.47%;
right: nan%;
top: 2.7%;
bottom: nan%;

transform: rotate(-1.59deg);


/* Vector */

position: absolute;
left: 2.47%;
right: 24.73%;
top: 2.7%;
bottom: 1.38%;

background: linear-gradient(180deg, #074555 0%, #1972CB 100%);
transform: rotate(-1.59deg);


/* Vector */

position: absolute;
left: 41.29%;
right: 0.99%;
top: 55.62%;
bottom: -1.65%;

background: linear-gradient(180deg, #0486A8 0%, rgba(25, 114, 203, 0.39) 43.23%, rgba(12, 65, 118, 0.79) 97.92%);
transform: rotate(-1.59deg);


/* Do you want to impre */

position: absolute;
height: 44.87px;
left: 43.23%;
right: 30.38%;
top: calc(50% - 44.87px/2 - 40.08px);

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 21px;
/* or 119% */
text-align: center;

opacity: 0.96;
text-shadow: 0px 1px 0px rgba(37, 71, 117, 0.82);
transform: rotate(-1.22deg);


/* bg-footer-2 */

position: absolute;
width: 300.77px;
height: 323.02px;
left: 1085.99px;
top: 789px;

background: url(bg-footer-2.png);
border-radius: 52px;
transform: rotate(2.3deg);


/* Steps */

position: absolute;
width: 536px;
height: 124px;
left: 472px;
top: calc(50% - 124px/2 - 21px);

font-family: Montserrat;
font-style: normal;
font-weight: 800;
font-size: 51px;
line-height: 62px;
text-align: center;

color: #FAFCFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


/* Page 1 */

position: absolute;
width: 1338px;
height: 578px;
left: 148px;
top: -174px;



/* Above the fold */

position: absolute;
width: 1338px;
height: 578px;
left: 148px;
top: -174px;

opacity: 0.75;
filter: blur(23px);


/* Device */

position: absolute;
width: 418.69px;
height: 245.75px;
left: 1186.16px;
top: 249.3px;

transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Path 3 */

position: absolute;
visibility: hidden;
left: 94.29%;
right: -32.27%;
top: 36.84%;
bottom: 11.56%;

background: linear-gradient(44.91deg, #102397 -5.12%, #187ADF 48.89%, #00EAF8 92.6%);
mix-blend-mode: normal;
opacity: 0.15;
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Path 3 */

position: absolute;
left: 88.65%;
right: -19.94%;
top: 43.13%;
bottom: 14.35%;

background: linear-gradient(44.91deg, #102397 -5.12%, #187ADF 48.89%, #00EAF8 92.6%);
mix-blend-mode: normal;
opacity: 0.75;
filter: blur(135.914px);
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Rectangle */

position: absolute;
visibility: hidden;
width: 542.02px;
height: 484.08px;
left: 792.08px;
top: 26.93px;

background: url(.png);
transform: rotate(4.34deg);


/* Device */

position: absolute;
visibility: hidden;
left: 88.02%;
right: -19.73%;
top: 9.88%;
bottom: 14.58%;

background: url(Image.png);
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Bitmap */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 1169.7px;
top: 68.1px;

transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Mask */

position: absolute;
left: 87.42%;
right: -6.7%;
top: 11.78%;
bottom: 37.34%;

background: url(Image.png);
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Mask */

position: absolute;
left: 87.42%;
right: -6.7%;
top: 11.78%;
bottom: 37.34%;

background: url(Image.png);
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Rectangle 11 */

position: absolute;
left: 89.7%;
right: -15.56%;
top: 11.17%;
bottom: 38.56%;

background: #0075C5;
border: 1px solid #979797;
box-sizing: border-box;
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* Adstract-wallpaper-wide */

position: absolute;
left: 93.52%;
right: -18.68%;
top: 35.35%;
bottom: 36.45%;

background: url(Image.png);
transform: matrix(-0.95, -0.3, -0.3, 0.95, 0, 0);


/* Path 3 */

position: absolute;
left: 93.64%;
right: -43.46%;
top: 35.47%;
bottom: -3.15%;

background: linear-gradient(44.91deg, #102397 -5.12%, #187ADF 48.89%, #00EAF8 92.6%);
mix-blend-mode: normal;
opacity: 0.15;
filter: blur(101.394px);
transform: matrix(-0.99, 0.11, 0.11, 0.99, 0, 0);


/* 19197296 1 */

position: absolute;
visibility: hidden;
width: 4096px;
height: 4096px;
left: -912px;
top: -1688px;

background: url(19197296.jpg);


/* Trusted by the best */

position: absolute;
visibility: hidden;
width: 896px;
height: 152px;
left: 510px;
top: 282px;



/* Logo 1 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: -276px;
top: 0px;



/* Logo box */

position: absolute;
left: -30.8%;
right: 110.6%;
top: 0%;
bottom: 48.68%;



/* dfdf */

position: absolute;
width: nanpx;
height: nanpx;
left: -258px;
top: 16px;



/* Shape */

position: absolute;
left: -24.44%;
right: 121.88%;
top: 19.08%;
bottom: 65.13%;

background: #1972CB;


/* Path */

position: absolute;
left: -24.44%;
right: 121.88%;
top: 19.08%;
bottom: 65.13%;

background: #DADADA;


/* Path */

position: absolute;
left: -23.88%;
right: 122.44%;
top: 22.19%;
bottom: 68.24%;

background: #DADADA;


/* Shape */

position: absolute;
left: -21.76%;
right: 119.2%;
top: 19.08%;
bottom: 65.13%;

background: #1972CB;


/* Path */

position: absolute;
left: -21.76%;
right: 119.2%;
top: 19.08%;
bottom: 65.13%;

background: #DADADA;


/* Path */

position: absolute;
left: -21.2%;
right: 119.76%;
top: 22.19%;
bottom: 68.24%;

background: #DADADA;


/* Shape */

position: absolute;
left: -18.86%;
right: 116.29%;
top: 19.08%;
bottom: 58.55%;

background: #1972CB;


/* Path */

position: absolute;
left: -18.86%;
right: 116.29%;
top: 19.08%;
bottom: 58.55%;

background: #DADADA;


/* Path */

position: absolute;
left: -18.27%;
right: 116.81%;
top: 22.12%;
bottom: 68.52%;

background: #DADADA;


/* Shape */

position: absolute;
left: -15.96%;
right: 115.4%;
top: 11.18%;
bottom: 65.79%;

background: #1972CB;


/* Shape */

position: absolute;
left: -15.07%;
right: 112.61%;
top: 19.08%;
bottom: 65.13%;

background: #1972CB;


/* Path */

position: absolute;
left: -15.07%;
right: 112.61%;
top: 19.08%;
bottom: 65.13%;

background: #DADADA;


/* Path */

position: absolute;
left: -14.49%;
right: 113.3%;
top: 22.13%;
bottom: 73.27%;

background: #DADADA;


/* Shape */

position: absolute;
left: -28.79%;
right: 124.78%;
top: 10.53%;
bottom: 65.13%;

background: #1972CB;


/* Logo 2 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: -79px;
top: 0px;



/* Logo box */

position: absolute;
left: -8.82%;
right: 88.62%;
top: 0%;
bottom: 48.68%;



/* facebook-1 */

position: absolute;
width: nanpx;
height: nanpx;
left: -79px;
top: 1px;



/* Shape */

position: absolute;
left: -8.82%;
right: 88.5%;
top: 0.66%;
bottom: 53.95%;



/* Group */

position: absolute;
width: nanpx;
height: nanpx;
left: -58.46px;
top: 21.58px;



/* Shape */

position: absolute;
left: -6.52%;
right: 89.97%;
top: 14.2%;
bottom: 65.98%;

background: #1972CB;


/* Path */

position: absolute;
left: 1.66%;
right: 97.72%;
top: 23.83%;
bottom: 69.32%;

background: #DADADA;


/* Path */

position: absolute;
left: -0.46%;
right: 99.9%;
top: 23.49%;
bottom: 74.3%;

background: #DADADA;


/* Path */

position: absolute;
left: -4.4%;
right: 103.9%;
top: 29.09%;
bottom: 68.88%;

background: #DADADA;


/* Path */

position: absolute;
left: 3.81%;
right: 95.57%;
top: 23.83%;
bottom: 69.37%;

background: #DADADA;


/* Path */

position: absolute;
left: -6.52%;
right: 105.01%;
top: 14.2%;
bottom: 66.17%;

background: #DADADA;


/* Path */

position: absolute;
left: -5.07%;
right: 103.23%;
top: 20.63%;
bottom: 66.01%;

background: #DADADA;


/* Path */

position: absolute;
left: -3%;
right: 101.33%;
top: 20.44%;
bottom: 65.99%;

background: #DADADA;


/* Path */

position: absolute;
left: -1.13%;
right: 99.23%;
top: 20.44%;
bottom: 65.99%;

background: #DADADA;


/* Path */

position: absolute;
left: 0.99%;
right: 97.05%;
top: 14.54%;
bottom: 66%;

background: #DADADA;


/* Path */

position: absolute;
left: 3.14%;
right: 94.9%;
top: 20.45%;
bottom: 66.02%;

background: #DADADA;


/* Path */

position: absolute;
left: 5.29%;
right: 92.76%;
top: 20.45%;
bottom: 66.02%;

background: #DADADA;


/* Path */

position: absolute;
left: 7.44%;
right: 90.55%;
top: 14.54%;
bottom: 66.17%;

background: #DADADA;


/* Path */

position: absolute;
left: 5.96%;
right: 93.43%;
top: 23.83%;
bottom: 69.37%;

background: #DADADA;


/* Path */

position: absolute;
left: 9.62%;
right: 89.97%;
top: 31.51%;
bottom: 65.98%;

background: #DADADA;


/* Path */

position: absolute;
left: 9.66%;
right: 90%;
top: 31.71%;
bottom: 66.17%;

background: #DADADA;


/* Path */

position: absolute;
left: 9.75%;
right: 90.08%;
top: 32.06%;
bottom: 66.51%;

background: #DADADA;


/* Path */

position: absolute;
left: 9.79%;
right: 90.13%;
top: 32.23%;
bottom: 67.28%;

background: #DADADA;


/* Logo 3 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 118px;
top: 0px;



/* Logo box */

position: absolute;
left: 13.17%;
right: 66.63%;
top: 0%;
bottom: 48.68%;



/* slack */

position: absolute;
width: nanpx;
height: nanpx;
left: 136px;
top: 17px;



/* Shape */

position: absolute;
left: 20.98%;
right: 68.53%;
top: 11.18%;
bottom: 66.45%;

background: #1972CB;


/* Path */

position: absolute;
left: 20.98%;
right: 76.95%;
top: 17.67%;
bottom: 66.47%;

background: #DADADA;


/* Path */

position: absolute;
left: 24.85%;
right: 74.19%;
top: 26.67%;
bottom: 69.23%;

background: #DADADA;


/* Path */

position: absolute;
left: 24.24%;
right: 73.54%;
top: 17.9%;
bottom: 66.47%;

background: #DADADA;


/* Path */

position: absolute;
left: 26.68%;
right: 71.1%;
top: 17.89%;
bottom: 66.45%;

background: #DADADA;


/* Path */

position: absolute;
left: 29.1%;
right: 68.53%;
top: 11.18%;
bottom: 66.64%;

background: #DADADA;


/* Path */

position: absolute;
left: 23.34%;
right: 76.03%;
top: 11.19%;
bottom: 66.65%;

background: #DADADA;


/* Shape */

position: absolute;
left: 15.18%;
right: 80.58%;
top: 15.13%;
bottom: 73.03%;

background: #1972CB;


/* Shape */

position: absolute;
left: 15.74%;
right: 80.02%;
top: 25%;
bottom: 63.16%;

background: #1972CB;


/* Shape */

position: absolute;
left: 17.41%;
right: 80.58%;
top: 11.84%;
bottom: 63.16%;

background: #1972CB;


/* Shape */

position: absolute;
left: 15.74%;
right: 82.25%;
top: 15.13%;
bottom: 59.87%;

background: #1972CB;


/* Shape */

position: absolute;
left: 18.19%;
right: 80.8%;
top: 26.32%;
bottom: 67.76%;

background: #1972CB;


/* Shape */

position: absolute;
left: 16.52%;
right: 82.48%;
top: 29.61%;
bottom: 64.47%;

background: #1972CB;


/* Shape */

position: absolute;
left: 17.63%;
right: 81.36%;
top: 16.45%;
bottom: 77.63%;

background: #1972CB;


/* Shape */

position: absolute;
left: 15.96%;
right: 83.04%;
top: 19.74%;
bottom: 74.34%;

background: #1972CB;


/* Logo 4 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 315px;
top: 0px;



/* Logo box */

position: absolute;
left: 35.16%;
right: 44.64%;
top: 0%;
bottom: 48.68%;



/* viber-3 */

position: absolute;
width: nanpx;
height: nanpx;
left: 341px;
top: 10.95px;



/* Shape */

position: absolute;
left: 38.06%;
right: 47.64%;
top: 7.2%;
bottom: 53.31%;

background: #1972CB;


/* Shape */

position: absolute;
left: 39.64%;
right: 50.49%;
top: 16.25%;
bottom: 68.01%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 39.64%;
right: 57.78%;
top: 16.48%;
bottom: 68.29%;

background: #DADADA;


/* Path */

position: absolute;
left: 40.9%;
right: 57.81%;
top: 16.25%;
bottom: 75.86%;

background: #DADADA;


/* Path */

position: absolute;
left: 45.68%;
right: 52.44%;
top: 16.38%;
bottom: 68.01%;

background: #DADADA;


/* Path */

position: absolute;
left: 46.21%;
right: 52.99%;
top: 22.89%;
bottom: 70.98%;

background: #DADADA;


/* Path */

position: absolute;
left: 42.6%;
right: 55.24%;
top: 16.31%;
bottom: 68.16%;

background: #DADADA;


/* Path */

position: absolute;
left: 47.64%;
right: 50.49%;
top: 20.04%;
bottom: 68.03%;

background: #DADADA;


/* Path */

position: absolute;
left: 48.2%;
right: 51.05%;
top: 22.67%;
bottom: 74.96%;

background: #DADADA;


/* Shape */

position: absolute;
left: 39.64%;
right: 49.17%;
top: 16.25%;
bottom: 68.16%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 39.64%;
right: 57.78%;
top: 16.48%;
bottom: 68.29%;

background: #DADADA;


/* Path */

position: absolute;
left: 49.68%;
right: 49.17%;
top: 20.12%;
bottom: 68.28%;

background: #DADADA;


/* Path */

position: absolute;
left: 44.92%;
right: 54.55%;
top: 20.92%;
bottom: 68.16%;

background: #DADADA;


/* Path */

position: absolute;
left: 40.9%;
right: 57.81%;
top: 16.25%;
bottom: 75.86%;

background: #DADADA;


/* Path */

position: absolute;
left: 44.91%;
right: 54.51%;
top: 16.38%;
bottom: 80.13%;

background: #DADADA;


/* Shape */

position: absolute;
left: 40.99%;
right: 58.12%;
top: 18.07%;
bottom: 76.57%;

background: #FFFFFF;


/* Shape */

position: absolute;
left: 41.08%;
right: 58.43%;
top: 20%;
bottom: 77.11%;

background: #FFFFFF;


/* Logo 5 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 512px;
top: 0px;



/* Logo box */

position: absolute;
left: 57.14%;
right: 22.66%;
top: 0%;
bottom: 48.68%;



/* behance-4 */

position: absolute;
width: nanpx;
height: nanpx;
left: 529px;
top: 25px;



/* Shape */

position: absolute;
left: 59.04%;
right: 23.95%;
top: 16.45%;
bottom: 64.93%;

background: #1972CB;


/* Path */

position: absolute;
left: 59.04%;
right: 38.37%;
top: 16.45%;
bottom: 65.39%;

background: #DADADA;


/* Path */

position: absolute;
left: 59.72%;
right: 39.17%;
top: 19.54%;
bottom: 76.18%;

background: #DADADA;


/* Path */

position: absolute;
left: 59.72%;
right: 39.05%;
top: 26.51%;
bottom: 68.42%;

background: #DADADA;


/* Path */

position: absolute;
left: 61.85%;
right: 35.93%;
top: 21.12%;
bottom: 64.93%;

background: #DADADA;


/* Path */

position: absolute;
left: 62.46%;
right: 36.54%;
top: 23.88%;
bottom: 73.29%;

background: #DADADA;


/* Path */

position: absolute;
left: 64.32%;
right: 33.59%;
top: 16.45%;
bottom: 65.33%;

background: #DADADA;


/* Path */

position: absolute;
left: 66.69%;
right: 31.12%;
top: 21.12%;
bottom: 65%;

background: #DADADA;


/* Path */

position: absolute;
left: 67.3%;
right: 31.83%;
top: 28.22%;
bottom: 67.43%;

background: #DADADA;


/* Path */

position: absolute;
left: 69.11%;
right: 28.78%;
top: 21.12%;
bottom: 65.26%;

background: #DADADA;


/* Path */

position: absolute;
left: 71.45%;
right: 26.34%;
top: 21.12%;
bottom: 65%;

background: #DADADA;


/* Path */

position: absolute;
left: 62.32%;
right: 36.43%;
top: 17.7%;
bottom: 80.53%;

background: #DADADA;


/* Path */

position: absolute;
left: 73.83%;
right: 23.95%;
top: 21.12%;
bottom: 64.93%;

background: #DADADA;


/* Path */

position: absolute;
left: 74.45%;
right: 24.54%;
top: 23.88%;
bottom: 73.29%;

background: #DADADA;


/* Logo 6 */

position: absolute;
visibility: hidden;
width: nanpx;
height: nanpx;
left: 709px;
top: 0px;



/* Logo box */

position: absolute;
left: 79.13%;
right: 0.67%;
top: 0%;
bottom: 48.68%;



/* dribbble */

position: absolute;
width: nanpx;
height: nanpx;
left: 726px;
top: 20px;



/* Shape */

position: absolute;
left: 81.03%;
right: 2.34%;
top: 13.16%;
bottom: 61.84%;

background: #1972CB;


/* Path */

position: absolute;
left: 81.03%;
right: 2.34%;
top: 13.16%;
bottom: 61.84%;

background: #DADADA;


/* Path */

position: absolute;
left: 81.41%;
right: 17.58%;
top: 28.04%;
bottom: 64.38%;

background: #DADADA;


/* Path */

position: absolute;
left: 82.5%;
right: 17.12%;
top: 16.38%;
bottom: 70.66%;

background: #DADADA;


/* Path */

position: absolute;
left: 93.99%;
right: 5.57%;
top: 16.79%;
bottom: 72.01%;

background: #DADADA;


/* Path */

position: absolute;
left: 95.68%;
right: 3.68%;
top: 26.8%;
bottom: 68.25%;

background: #DADADA;


/* Path */

position: absolute;
left: 87.76%;
right: 11.96%;
top: 16.44%;
bottom: 76.46%;

background: #DADADA;


/* Path */

position: absolute;
left: 89.88%;
right: 9.83%;
top: 16.49%;
bottom: 76.39%;

background: #DADADA;


/* Path */

position: absolute;
left: 92.01%;
right: 7.7%;
top: 16.46%;
bottom: 76.48%;

background: #DADADA;


/* Shape */

position: absolute;
left: 85.83%;
right: 13.5%;
top: 19.08%;
bottom: 76.32%;

background: #1972CB;


/* Trusted by the world */

position: absolute;
height: 30px;
left: 9.93%;
right: 41.63%;
top: calc(50% - 30px/2 + 28px);

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */
text-align: center;

color: #F7FAFF;



/* Path 4 */

position: absolute;
left: -18.75%;
right: 16.07%;
top: 46.71%;
bottom: 50%;

opacity: 0.56;
border: 1px solid #CBE3FA;


/* Companies */

position: absolute;
width: nanpx;
height: nanpx;
left: -2px;
top: 39px;



/* company-logo-3 */

position: absolute;
width: 123.2px;
height: 31.94px;
left: -2px;
top: 39px;

background: url(company-logo-3.png);


/* company-logo-4 */

position: absolute;
width: 123.2px;
height: 31.94px;
left: 121.2px;
top: 39px;

background: url(company-logo-4.png);


/* company-logo-5 */

position: absolute;
width: 123.2px;
height: 31.94px;
left: 244.4px;
top: 39px;

background: url(company-logo-5.png);


/* company-logo-1 */

position: absolute;
width: 123.2px;
height: 31.94px;
left: 367.6px;
top: 39px;

background: url(company-logo-1.png);


/* company-logo-2 */

position: absolute;
width: 123.2px;
height: 31.94px;
left: 490.8px;
top: 39px;



/* dots */

position: absolute;
width: 153.86px;
height: 144.82px;
left: -348px;
top: 3.59px;

background: url(bg-footer-2.png), url(bg-footer-2.png), url(bg-footer-2.png);
border-radius: 52px;
transform: rotate(-0.22deg);


/* Vector */

position: absolute;
visibility: hidden;
left: 3.39%;
right: 89.63%;
top: 34.43%;
bottom: 62.68%;

background: linear-gradient(90deg, #80D8FF 0%, #EA80FC 100%);
